<%- title "Edit Employee Classification - #{@employee_classification.name}" %>
<div class="mx-auto w-full pb-6 text-right">
    <%= link_to 'Employee Classification List', employee_classifications_path, class: "ml-2 rounded-lg py-2 px-2 bg-gray-100 inline-block font-medium" %>
</div>

<div class="mx-auto w-full pb-6">
	<span class="text-4xl font-semibold">Time Period: <%= @employee_classification.name %></span>
</div>


<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", employee_classification: @employee_classification %>
</div>
